<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Menu fish</title>
  <script src="lib/angular.min.js"></script>
  <script src="lib/zepto.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/options.js"></script>
  <script src="js/options-app.js"></script>
  <link rel="stylesheet" href="lib/css/iconfontello.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="ancestor">
<div class="navigation">
  <h1 class="nav-header">Menu fish</h1>
  <ul class="nav-list" id="nav-list">
    <li class="selected">
      <button tab-target="#setting">设置</button>
    </li>
    <li>
      <button tab-target="#help">帮助</button>
    </li>
    <li class="help">
      <button tab-target="#about">关于</button>
    </li>
  </ul>
</div>
<div class="main-container" id="main-container">
  <div id="setting" class="main-section" style="display: block;" ng-controller="ruleCtrl"  ng-app>
    <h2 class="sub-header">设置</h2>
    <h3>搜索</h3>
    <ul class="rule-list">
      <li ng-repeat="rule in rules.search" ng-class="{false: 'rule-disabled'}[rule.enabled]">
        <div ng-if="!rule.$_edit">
          <span class="rule-name">{{rule.name}}</span>
          <span class="rule-url">{{rule.url}}</span>
          <button ng-click="upClick(rule, rules.search)" class="icon icon-up" title="上移"></button>
          <button ng-click="downClick(rule, rules.search)" class="icon icon-down" title="下移"></button>
          <button ng-click="editClick(rule)" class="icon icon-edit" title="编辑"></button>
          <button ng-click="deleteClick(rule, rules.search)" class="icon  icon-trash" title="删除"></button>
          <input type="checkbox" ng-model="rule.enabled" class="icon icon-checkbox" title="{{message.onoff[rule.enabled]}}">
        </div>
        <div ng-if="rule.$_edit" class="rule-edit">
          <span class="rule-name"><input ng-model="rule.$_name"></span>
          <span class="rule-url"><input  ng-model="rule.$_url"></span>
          <button ng-click="submitClick(rule)" class="icon icon-ok" title="确定"></button>
          <button ng-click="cancelClick(rule)" class="icon icon-ccw" title="撤销"></button>
        </div>
      </li>
    </ul>
    <div class="rule-edit">
      <span class="rule-name"><input ng-model="$_suspend.search.name" placeholder="name"></span>
      <span class="rule-url"><input ng-model="$_suspend.search.url" placeholder="url"></span>
      <button ng-click="addClick('search')" class="icon icon-ok" title="确定"></button>
    </div>

    <h3>分享</h3>
    <ul class="rule-list">
      <li ng-repeat="rule in rules.share" ng-class="{false: 'rule-disabled'}[rule.enabled]">
        <div ng-if="!rule.$_edit" class="display">
          <span class="rule-name">{{rule.name}}</span>
          <span class="rule-url">{{rule.url}}</span>
          <button ng-click="upClick(rule, rules.share)" class="icon icon-up" title="上移"></button>
          <button ng-click="downClick(rule, rules.share)" class="icon icon-down" title="下移"></button>
          <button ng-click="editClick(rule)" class="icon icon-edit" title="编辑"></button>
          <button ng-click="deleteClick(rule, rules.share)" class="icon icon-trash" title="删除"></button>
          <input type="checkbox" ng-model="rule.enabled" class="icon icon-checkbox" title="{{message.onoff[rule.enabled]}}">
        </div>
        <div ng-if="rule.$_edit" class="rule-edit">
          <span class="rule-name"><input ng-model="rule.$_name"></span>
          <span class="rule-url"><input ng-model="rule.$_url"></span>
          <button ng-click="submitClick(rule)" class="icon icon-ok" title="确定"></button>
          <button ng-click="cancelClick(rule)" class="icon icon-ccw" title="撤销"></button>
        </div>
      </li>
    </ul>
    <div class="rule-edit">
      <span class="rule-name"><input ng-model="$_suspend.share.name" placeholder="name"></span>
      <span class="rule-url"><input ng-model="$_suspend.share.url" placeholder="url"></span>
      <button ng-click="addClick('share')" class="icon icon-ok" title="确定"></button>
    </div>
    <h3>其他</h3>
    <ul class="rule-list">
      <li ng-class="{false: 'rule-disabled'}[settingMore.baiduImageSearch]">
        <span class="rule-name">百度搜图</span>
        <input type="checkbox" ng-model="settingMore.baiduImageSearch" class="icon icon-checkbox" title="{{message.onoff[settingMore.baiduImageSearch]}}">
      </li>
    </ul>
    <button class="reset-button" ng-click="resetClick()"><i class="icon icon-warning-empty"></i>重置</button>
  </div>
  <div id="help" class="main-section">
    <h2 class="sub-header">帮助</h2>
    <div class="md-box">
      <h3>自定义搜索</h3>

      <p>每一个页面都对应着一个 URL，当我们使用搜索引擎搜索一个关键词时，这个关键词就会被编码到 URL 中，比如我使用 Google 搜索 <code>NASA</code>，我们看到的 URL 是：
        <code class="code-block">
          https://www.google.com.hk/#newwindow=1&amp;safe=off&amp;q=NASA
        </code>
        在这个 URL 中，可以找到 <code>q=NASA</code>，也就是说，当我们访问这个 URL 时，<code>NASA</code> 作为参数 <code>q</code> 被发送到服务器。
      </p>
      <p>当然，这个 q 是开发者自己定的。他们也可以使用 <code>kw</code> <code>wd</code> 等作为参数名。</p>
      <p>如果你要把 Google 添加到右键，只需要用 <code>{%word%}</code> 替换掉 <code>NASA</code> ，得到下面的 URL：
        <code class="code-block">
          https://www.google.com.hk/#newwindow=1&amp;safe=off&amp;q={%word%}
        </code>
      </p>
      <p>网上很多链接都是很长的一段，比如百度搜索：
        <code class="code-block">
          http://www.baidu.com/s?wd=wordpress&amp;rsv_spt=1&amp;issp=1&amp;f=8&amp;rsv_bp=0&amp;ie=utf-8&amp;tn=baiduhome_pg&amp;rsv_enter=1&amp;rsv_sug3=16&amp;rsv_sug4=1380&amp;rsv_sug1=16&amp;rsv_sug2=0&amp;inputT=7390&amp;rsv_sug=1
        </code>
        这里面的每一个<code>&amp;aaa=bbb</code>都是一对参数，可以看到我们要搜索的参数是<code>wd=wordpress</code>，而其他的呢，有一些是百度做统计用的，还有的就不清楚了。我们可以试着精简掉：
        <code class="code-block">
          http://www.baidu.com/s?wd=wordpress
        </code>
        发现也可以正常访问。
      </p>
      <p>最后，要添加百度到右键，只需要添加
        <code class="code-block">
          http://www.baidu.com/s?wd={%word%}
        </code>
      </p>
      <br/>
      <h3>自定义分享</h3>
      <p>自定义分享的原理和前面一样的。要做的就是找到现成的url。</p>
      <p>现在很多网站都有分享组件，例如cnbeta。找到这样的网站，点击分享，浏览器会打开分享窗口。以分享到微博为例，新窗口的链接如下：</p>
      <code class="code-block">http://service.weibo.com/share/share.php?url=http%3A%2F%2Fshare.baidu.com%2F%230-tsina-1-79265-397232819ff9a47a7b7e80a40613cfe1&title=%E7%99%BE%E5%BA%A6%E5%88%86%E4%BA%AB%EF%BC%8C%E4%B8%BA%E6%82%A8%E5%B8%A6%E6%9D%A5%E6%9B%B4%E5%A4%9A%E6%B5%81%E9%87%8F%20-%20%E7%99%BE%E5%BA%A6%E5%88%86%E4%BA%AB&appkey=1343713053&searchPic=false</code>
      <p>啊，好长一段。</p>
      <p>请注意<code class="code-block">url=http%3A%2F%2Fshare.baidu.com%2F%230-tsina-1-79265-397232819ff9a47a7b7e80a40613cfe1</code>
        以及
        <code class="code-block">title=%E7%99%BE%E5%BA%A6%E5%88%86%E4%BA%AB%EF%BC%8C%E4%B8%BA%E6%82%A8%E5%B8%A6%E6%9D%A5%E6%9B%B4%E5%A4%9A%E6%B5%81%E9%87%8F%20-%20%E7%99%BE%E5%BA%A6%E5%88%86%E4%BA%AB</code>
      </p>
      <p>以上两个参数（url和title）分别表示要分享网页的url地址和标题，你可能会觉得是一堆乱码，是因为他们被转码了。特殊字符和汉字在url中会被转码。<br/>
      这里的参数名不一定就是url和title，不同的社交平台可能有不同的约定。一般来说，url可能有<code>u,from,link</code>等等可能，而title也有可能是<code>t,name</code>等等。
      </p>
      <p>和前面类似，我们把参数替换，得到</p>
      <code class="code-block">http://service.weibo.com/share/share.php?url={%url%}&title={%title%}</code>
      <p>其他的参数都删掉。</p>
    </div>
  </div>
  <div id="about" class="main-section">
    <h2 class="sub-header">关于</h2>
    <h3>微博</h3>
    <a href="http://weibo.com/u/2113729271" target="_blank"><img border="0" src="http://service.t.sina.com.cn/widget/qmd/2113729271/64e7ae81/1.png"/></a>
    <h3>github</h3>
    <a href="https://github.com/meowtec/chrome-menufish/" target="_blank">github.com/meowtec/chrome-menufish</a>
    <h3>版本</h3>
    <p id="current-version"></p>
    <p id="version-notice-text">正在检测新版本...</p>
  </div>
</div>
</div>
</body>
</html>
